body {
    padding-bottom: 0;
}


.ann {
    position: relative;
    overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.ann:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

.ann-sep {
    font-size: 2.5em;
    color: #E8E6A9;
}

.timeline {
    list-style: none;
    margin: 0 auto;
    max-width: 48em;
    padding: 2em 0 3em;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0.5em;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -0.25em;
    background: #E8E6A9;
}
.timeline:after {
    content: "\f004";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: -1;
    top: -0.5em;
    left: -0.0417em;
    width: 100%;
    text-align: center;
    color: #E8E6A9;
}
.timeline-events {
    margin-top: -2em;
    margin-bottom: -2em;
}
.timeline-events ol {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.timeline-events ol:before,
.timeline-events ol:after {
    content: " ";
    display: table;
}
.timeline-events ol:after {
    clear: both;
}

.event {
    margin: 2em 0;
    display: block;
    padding: 0.5em;
    background: #fff;
    border-top: 1px solid #e5e5df;
    border-bottom: 1px solid #e5e5df;
    /*-webkit-box-shadow: 0 0 2px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0 0 2px rgba(0,0,0, 0.10);
    box-shadow: 0 0 2px rgba(0,0,0, 0.10);*/
}
.event-left {
    margin-right: 2em;
    border-right: 1px solid #e5e5df;
}
.event-right {
    margin-left: 2em;
    border-left: 1px solid #e5e5df;
}
.event-header {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 1.25em;
}
.event-title {
    color: #33336F;
    text-align: left;
}
.event-person {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    color: #b0afa6;
    text-align: right;
}
.event-title,
.event-person {
    vertical-align: top;
    display: inline-block;
    margin-right: -4px;
    width: 50%;
}
.event-person-sep {
    font-family: "jubilat", serif;
    font-weight: 400;
    margin: 0 0.15em;
}
.event-time {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
.event-photo {
    position: relative;
    margin: 0 -0.5em;
}
.event-photo img {
    display: block;
    width: 100%;
}
.event-photo-credit {
    font-size: 0.875em;
    position: absolute;
    bottom: 0.2857em;
    right: 0.5714em;
    color: #fcfcf7 !important;
    text-shadow: 0 0 1px #191506;
}
.event-map {
    margin: 0 -0.5em;
    height: 20em;
}
.event p{
    color: #636263;
}

.button-wedding {
    margin: 2em;
    text-align: center;
}

/* 480px */
@media screen and (min-width: 10em) {
    .timeline:after{
        margin-top: 10px;
    }
    .event-left {
       margin-right: 0;
    }
    .event-right {
       margin-left: 0;
    }
}

#homepage{
    min-height: calc(100vh - 65px);
    width: 100vw;
    position: relative;
    background: url(/img/home/pose.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#homepage section{
    position: absolute;
    bottom: 35px;
    width: 100%;
}
#homepage section h1{
    text-align: center;
    color: #FFE3E7;
    font-size: 3em;
    line-height: 1em;
    text-shadow: 1px 1px 1px #333;
    font-weight: 250;
}
#homepage section h3{
    text-align: center;
    color: #000;
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px white;
    background-color: 
}

#homepage #info{
    position: absolute;
    bottom: 35px;
    left: 35px;
    background-color: rgba(216, 163, 0, .7);
    padding: 10px;
    padding-right: 10px;
}

#homepage #info h1, h3{
    line-height: .5em;
    color: #1E3664;
}
#homepage #info h1{
    white-space: nowrap;
    font-size: 2em;
}

#homepage #info h3{
    font-family: 'Raleway', sans-serif;
}

#homepage .homepage-img{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homepage .homepage-img#back, #homepage .homepage-img#kiss{
    display: none;
}

/* 568px */
@media screen and (min-width: 35.5em) {
    #homepage .homepage-img#kiss{
        display: inline-block;
        background-position: calc(50% + 100px) calc(50% - 150px);
    }
    #homepage .homepage-img#family{
        background-position: calc(50% - 100px) calc(50% + 50px)
    }
    #homepage .homepage-img{
        width: 49.9%;
        margin-left: -2px;
    }
    #homepage #info:before{
        position: absolute;
        width: 140px;
        height: 120px;
        right: 20px;
        background-image: url('/img/home/logo.png');
        background-repeat: no-repeat;
        background-size: 140px 120px;
        content:"";
        display: inline-block;
    }

    #homepage #info{
        padding-right: 175px;
    }

    #homepage section h1,  #homepage section h3{
       margin-left: -45%;
    }
    #homepage section h3{
        color: #ddd;
        text-shadow: none;
    }

}

/* 576px */
@media screen and (min-width: 36em) {
    .event {
        clear: both;
        padding-left: 1em;
        padding-right: 1em;
    }
    .event-header {
        font-size: 1.5em;
        margin-bottom: 0.3333em;
    }
    .event-photo,
    .event-map {
        margin: 0 -1em;
    }
}

/* 768px */
@media screen and (min-width: 48em) {
    .event {
        clear: both;
    }
    .event-left,
    .event-right {
        width: 23em;
        position: relative;
    }
    .event-left {
        float: left;
        clear: left;
        margin: 2em 1em 2em 0;
    }
    .event-right {
        float: right;
        clear: right;
        margin: 2em 0 2em 1em;
    }
    .event-left:before,
    .event-left:after,
    .event-right:before,
    .event-right:after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border: solid transparent;
    }
    .event-left:before,
    .event-right:before {
        top: 14px;
        border-width: 12px;
    }
    .event-left:after,
    .event-right:after {
        top: 15px;
        border-width: 11px;
    }
    .event-left:before {
        left: 100%;
        border-left-color: #e5e5df;
        /*border-left-color: rgba(0,0,0, 0.05);*/
    }
    .event-left:after {
        left: 100%;
        border-left-color: #fff;
    }
    .event-right:before {
        right: 100%;
        border-right-color: #e5e5df;
        /*border-right-color: rgba(0,0,0, 0.05);*/
    }
    .event-right:after {
        right: 100%;
        border-right-color: #fff;
    }
    .event-left + .event-right,
    .event-right + .event-left {
        margin-top: 4em;
    }
}

.wedding-overview{
    text-align: center;
}
.wedding-overview h3{
    font-size: 3em;
    font-family: "learning-curve", sans-serif;
    margin-bottom: 0;
}
.wedding-overview h3:nth-child(n+1){
    margin-top: 5px;
}

/* 770px */
@media screen and (min-width: 48.125em) {
    .event {
        border: 1px solid #e5e5df;
    }
}

/* 1024px */
@media screen and (min-width: 64em) {
    #homepage .homepage-img#back{
        display: inline-block;
    }
    #homepage .homepage-img#kiss{
        display: inline-block;
        background-position: calc(100% + 100px) calc(50% - 150px);
    }
    #homepage .homepage-img#family{
        background-position: calc(50% + 50px) calc(50% + 100px);
    }
    #homepage .homepage-img#back{
        background-position: calc(0% - 170px) calc(50% + 50px);
    }
    #homepage .homepage-img{
        width: 33%;
    }
}
