#wedding img{
    width: 100%;
    height: auto;
    display: block;
}
#wedding .info-body{
    background-color: rgb(255, 245, 245);
    opacity: .99;
    width: 70%;
    min-height: 30vh;
    margin: -30px auto;
    z-index: 3;
    color: #1E3664;
    border-radius: 7px 7px 0 0;
    padding: 20px;
}
#wedding .info-body .info-header{
    margin: 0 auto;
    width: 300px;
}
#wedding .info-body h1{
    font-size: 3.2em;
    width: auto;
    margin-bottom: 0;
    text-align: center;
}
#wedding .info-body h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0
}

#wedding .info-body a{
    text-decoration: underline;
    color: #1E3664;
}

#wedding .info-body iframe{
    width: 90%;
    height: 300px;
    margin: 10px auto;
    display: block;
}

@media screen and (min-width: 35.5em) {
    #wedding .info-body{
       margin: -100px auto;
    }

}