{{setYUIModule "le-home"}}
{{setDescription "Brianna Olivia Wagenbrenner & Richard Timothy Evans are getting married!"}}
{{addCSS "/css/home.css"}}

<div id="homepage">
  <section id="info">
    <h1>Brianna Olivia</h1>
    <h1>&amp; Richard Timothy</h1>
    <h3>24th September 2016</h3>
    <h3>Indigo Falls, GA</h3>
  </section>
  <div class="homepage-img" id="back"></div>
  <div class="homepage-img" id="family"></div>
  <div class="homepage-img" id="kiss"></div>
</div>