{{setYUIModule "le-home"}}
{{setDescription "Brianna Olivia Wagenbrenner & Richard Timothy Evans are getting married!"}}
{{addCSS "/css/home.css"}}

<div id="homepage">
  <section>
    <h1>Richard Timothy</h1> 
    <h1>&amp; Brianna Olivia</h1>
    <h3>24th September 2016</h3>
    <h3>Indigo Falls, GA</h3>
  </section>
</div>