{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}


<div class="reg l-contain">
    <h1 >Wedding Registry</h1>

    <p>
        We are registered at <a href="http://www.potterybarn.com/registry/3810511/registry-list.html">Pottery Barn</a> and <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542865496&pwsurl=">Bed Bath and Beyond</a>. We also LOVE framed pictures of friends/family and artwork for our new home. While we are so appreciative of gifts, we are most excited about celebrating with all of you. So most importantly bring yourselves! 

    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542865496&pwsurl=">
                <img src="/img/registry/bbb.png">
            </a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.potterybarn.com/registry/3810511/registry-list.html">
                <img src="/img/registry/pottery-barn.png">
            </a>
        </div>
    </div>

    <div class="break"></div>

    <div class="l-grid-1-2">
        <img id="logo" src="/img/home/logo.png">
    </div>
</div>
